@use "global" as *;



.access__map {
    position: relative;
    width: 100%;
    height: rem(200);
    margin-top: rem(24);
    @include mq(md){
       height: rem(345);
       margin-top: rem(40);
    }

}

.access__map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;


}

.access__info-box {
    margin-top: rem(75);
    display: flex;
    align-items: center;
    gap: rem(65);
    justify-content: space-around;

}

.access__info {
    @include mq(md){
       width: rem(393);
    }

}

.access__info-row {
    display: flex;
    border-bottom: 1px solid $gold;
    padding-bottom: rem(14);

}

.access__info-row:not(:first-child){
    margin-top: rem(14);
}

.access__label,
.access__value {
    font-size: rem(16);
    font-weight: $bold;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(24 / 16);

}

.access__label {
    width: rem(60);
}
.access__value {
    font-weight: $regular;
    width: calc(100% - rem(60));

}

.access__guide {
    @include mq(md){
        position: relative;
        z-index: 3;
        max-width: rem(350);
        width: 100%;

    }
}

.access__guide::before {
    content: "";
    position: absolute;
    top: -18%;
    right: calc(50% - min(48vw,rem(230)));
    background-image: url(../images/common/bg.png);
    display: inline-block;
    background-size: contain;
    width: rem(480);
    height: rem(480);
    z-index: -1;
    background-repeat: no-repeat;

}


.access__guide-title {
    @include mq(md){
        text-indent: rem(-40);
        text-align: center;
        font-size: rem(20);
        font-weight: $bold;
        font-family: $second-font-family;
        color: $blue-black;
        line-height: calc(30 / 20);

    }

}

.access__guide-list {
    @include mq(md){
        margin-top: rem(20);
    }

}

.access__guide-item {
    font-size: rem(18);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(32 / 18);

}

